<!DOCTYPE html>

<html>

<head>

	<title>Projeto Jogar Dados</title>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

</head>
<body>

	<main>

		<div class="container col-12 col-sm-8 col-md-6 bg-light p-2 text-center">

			<div class="card-header"><h1>Projeto Jogar Dados</h1></div>

			<div class="card-body">

				<p class="card-text">	

					<h3>INSIRA OS NUMEROS ABAIXO E CLIQUE NO BOTÃO ABAIXO PARA INICIAR O JOGO</h3>

					<form class="form-group" method="post" action="iniciar">

						<label>Limite De Jogadas</label>
						<input class="form-control" type="number" name="limiteJogada">

						<label>Limite De Pontos</label>
						<input class="form-control" type="number" name="limitePonto">

						<div class="col-12 mx-auto mt-2 px-4 text-center">

							<button class="btn btn-success btn-lg" aria-pressed="false" autocomplete="off" type="submit" id="buttonComecar">Começar</button>

						</div>
					</form>
				</p>
			</div>
		</div>

	</main>

</body>

<script src="js/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
/*
	$(document).ready(function(){

		$('#buttonComecar').click(function(){
			location.href = 'iniciar';
		});
		
	});
	*/
</script>

</html>