<!DOCTYPE html>

<html>

<head>

	<title>Projeto Jogar Dados</title>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

</head>
<body>

	<main>

		<div class="container col-12 col-sm-8 col-md-6 bg-light p-2 text-center">

			<h1>Projeto Jogar Dados</h1>

			<p>CLIQUE NO BOTÃO ABAIXO PARA INICIAR O JOGO</p>
			<form method="post" action="iniciar">

				<label> Limite De Jogadas</label>
				<input class="" type="text" name="limiteJogada">

				<label> Limite De Pontos</label>
				<input class="" type="text" name="limitePontos">

				<button class="btn btn-success" type="submit" id="buttonComecar">Começar</button>

			</form>
		</div>

	</main>

</body>

<script src="js/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
/*
	$(document).ready(function(){

		$('#buttonComecar').click(function(){
			location.href = 'iniciar';
		});
		
	});
*/
</script>

</html>